{% extends "base.html" %}

{% block title %}找我邮{% endblock %}

{% block content %}

  <div class="row clearfix">
    <div class="col-md-12 column">
    
       <div class="jumbotron">
        <div style="text-align:center">
          <h1><span style="font-family:'方正喵呜体 Bold', '方正喵呜体';">找你所想!</span></h1>
          <h3><span style="font-family:'方正喵呜体 Bold', '方正喵呜体';">深度整理校内大小公告，地理位置，校友信息</span></h3>
        </div>

        <div class="row clearfix">
          <p><div class="col-md-11 column">
            <div class="form-group">
              <input type="text" class="form-control">
            </div> 
          </div>
          <div class="col-md-1 column">
            <button type="submit" class="btn btn-default">找一下</button>
          </div></p>
        </div>

      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-12 column">
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-4 column">
      <h2>
        想找人？
      </h2>
      <p>
        轻松找到诺大北邮里目标中的他/她
      </p>
      <p>
        <a class="btn" href="#">我要找 »</a>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        找不到地方？
      </h2>
      <p>
        方便快捷地联系到学校各个职能部门！
      </p>
      <p>
        <a class="btn" href="#">我要找 »</a>
      </p>
    </div>
    <div class="col-md-4 column">
      <h2>
        看不到新鲜公告？
      </h2>
      <p>
        轻松囊获学校各站公告等第一手资讯!
      </p>
      <p>
        <a class="btn" href="#">我要找 »</a>
      </p>
    </div>
  </div>

{% endblock %}